@import "tailwindcss";

@theme {
  --color-metalysa-red: #DC2626;      /* Rojo corporativo principal */
  --color-metalysa-red-dark: #B91C1C; /* Rojo oscuro para hover/focus */
  --color-metalysa-dark: #1E293B;     /* Gris oscuro industrial para fondos/textos */
  --color-metalysa-gray: #F8FAFC;     /* Gris muy claro para fondos de sección */
}